#marble_nav.uk-offcanvas
  .uk-offcanvas-bar
    ul.uk-nav.uk-nav-offcanvas.uk-nav-parent-icon(data-uk-nav)
      li
        a(href="/" class="") Home
      li
        a(href="/club" class="") The Club
      li
        a(href="/coach" class="") The Coach
      li
        a(href="/schedule" class="") The Schedule
      li
        a(href="/blog" class="") Blog
      li
        a(href="/join" class="") Join Now