nav.uk-navbar.uk-navbar-attached
  .uk-container.uk-container-center
    a(class="uk-navbar-brand uk-hidden-small marble_logo" href="/")
    .uk-navbar-flip.uk-hidden-small
      ul.uk-navbar-nav
        li
          a(href="/club" class="") The Club
        li
          a(href="/coach" class="") The Coach
        li
          a(href="/schedule" class="") The Schedule
        li
          a(href="/blog" class="") Blog
        li
          a(href="/join" class="") Join Now
    a(class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas="{target:'#marble_nav'}")
    div(class="uk-navbar-brand uk-navbar-center uk-visible-small marble_logo")