extends layout

block content
	.uk-width-1-1
		h1.title The Club

	.uk-width-1-1.section
		h3 What is Marble Weighlifting?
		
		p Marble Weightlifting is an independent gym that offers expert instruction and personal attention from experienced and qualified coaches and trainers. We are committed to getting each Client stronger and ready to overcome their obstacles no matter what they may be.

		p We offer Olympic Weightlifting, Powerlifting, Personal Training, and Strength & Conditioning to clients in the Midwood Area of Brooklyn, New York. Whether you're a competitive athlete in need of a performance edge, or are simply interested in becoming fitter and healthier, we will help you reach whatever goals you may have!

	.uk-width-1-1.section
		h3 What is Grouped Coaching?
		
		p All of our Sessions have a Coach on staff at all times, making sure you get the attention you need. Whether you are training Weightlifting, Powerlifting or General fitness, Our Coaches are there to give you the best information they can.


	.uk-width-1-1.section
		h3 What is Private Training?
		
		p Marble Weightlifting offers personal training for all types of clients with all kinds of goals, whether fitness or sport-specific strength & conditioning. As Marble Weightlifting continues to grow each day we looks forward to refining our schedule and availability to meet your needs.