extends layout

block content
	.uk-width-1-1
		h1.title Meet the Coach

	.uk-width-1-1
		p Joe "Marble" Cosenza is the Head Coach of Marble Weightlifting. He is a USAW Sports Performance Coach as well as USAPL Club Coach. He competes regularly in Olympic Weightlifting. He is driven to offer each client the personal attention they need and provide them with a team to excel in their fitness journey.