extends layout

block content
	.uk-width-1-1.section
		h1 Contact

	.uk-width-1-1.section
		.section
			p 1910 Ocean Ave
			p Brooklyn, NY, 11210
			p 347-208-0841
			a(href="mailto:jmarblehed@gmail.com?Subject=Train%20With%20Joe") Email Us
