extends layout1

block content

	.uk-width-medium-3-5.uk-width-small-1-1
		p Marble Weightlifting is an independent gym that offers expert instruction and personal attention from experienced and qualified coaches and trainers. We are committed to getting each client stronger and ready to overcome their obstacles no matter what they may be.

	.uk-width-medium-1-5.uk-width-small-1-1
		div(style="height: 1px;")

	.uk-width-medium-1-5.uk-width-small-1-1
		span 1910 Ocean Ave
		br
		span Brooklyn, NY, 11210
		br
		span 347-208-0841
		br
		a Email Us


	.divider


	.uk-width-medium-1-2.uk-width-small-1-1.uk-hidden-small
		img(src="/images/landing_page/mw_gym.jpg").blog_img


	.uk-width-medium-1-2.uk-width-small-1-1
		h3
			a(href="/landing1") blog

		.uk-visible-small
			img(src="/images/landing_page/mw_gym.jpg")

		h4= blog.title
		
		p !{blog.content}


	.divider

	.uk-width-medium-2-5.uk-width-small-1-1
		p Today's Workout:

		span Snatch + OHSq	75% 	(2 + 2)r4s
		br
		span Snatch Pulls	90%		3r4s
		br
		span Snatch Press	Light	5r4s
		br
		br
		span Conditioning: 3 rounds
		br
		span 250m Row
		br
		span 12 KB swings
			a Workout Archive

	.uk-width-medium-1-5.uk-width-small-1-1
		div(style="height: 1px;")

	.uk-width-medium-2-5.uk-width-small-1-1
		h3
			a(href="/landing1") Upcoming Events
		
		ul
			li
				span November 23, 2014
				br
				span - USAW Trinity College Championships
			li
				span December 6th, 2014
				br
				span - Pearl Harbor Clean Comp
			li
				span January 25, 2015
				br
				span - USAPL Beast Winter Classic
