doctype html
html
	head
		title= title

		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')

		link(rel='stylesheet', href='/uikit/css/uikit.min.css')
		link(rel='stylesheet', href='/stylesheets/style1.css')
		script(src='/javascripts/jquery.min.js')
		script(src='/uikit/js/uikit.min.js')

	body
		
		nav.uk-navbar.uk-navbar-attached
			img.nav_banner(src="/images/nav_banner.png")

			.uk-container.uk-container-center
				
				.uk-navbar-center.uk-hidden-small
					ul.uk-navbar-nav
						li
							a(href="/" class="") Home
						li
							a(href="/about" class="") About
						li
							a(href="/services" class="") Services
						li
							a(href="/schedule" class="") Schedule
						//
							li
								a(href="/blog" class="") Blog
						li
							a(href="/join" class="") Join
						li
							a(href="/contact" class="") Contact
						
				a(class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas="{target:'#marble_nav'}")


		.uk-container.uk-container-center.main_content
			.uk-grid
				
				include ./includes/mobile_nav.jade
				
				block content