extends layout

block content

	.uk-width-1-1.section
		h1 Services

	.uk-width-1-1.section
		h2 Pricing
		.subsection
			p Monthly Membership: $150
			p Three Month Membership: $375
			p Couples: $225

	.uk-width-1-1.section
		h2 Competition Focused Trining:
		.subsection
			h3 Olympic weightlifting USAW
			.subsection
				p One Time Assesment ($50) + monthly training fee
				p Programming based on ability and experience

			br

			h3 Powerlifting USAPL Federation
			.subsection
				p One Time Assesment ($50) + monthly training fee
				p Tests Squat, Bench, and Deadlift to optimize competition focused programming

			br

			h3 General Strength and Conditioning
			.subsection
				p Develop the multiple modalities of fitness. Strength, Endurance, Speed, and Power.
				p Utilize basic Olympic weightlifting, Powerlifting, and Bodyweight exercises to build your fitness.

	.uk-width-1-1.section
		h2 Train Outside Marble Weightlifting
		.subsection
			p You Choose Where
			p One Session: $60
			p Three Sessions: $140
			p Ten Sessions: $500